<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all',
                                            'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application','data-turbolinks-track': 'reload' %>
    
    <!-- Adding in some ruby with render method to link to the shim file -->
    <%= render 'layouts/shim' %> 
  </head>
  <body>
    <!-- Remove the headder html and put it in a supporting partial -->
    <%= render 'layouts/header' %> 
    <div class="container">
     <%= yield %>
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
     <!-- footer within the div tag and under the main body of text -->
     <!-- <#%= render 'layouts/footer' %> -->
    </div>
  </body>
</html>
